Jamoma/patchers/library/jamoma.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="jamoma">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="preset" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="name" type="xs:string"/>
											<xs:attribute name="type" type="xs:string"/>
											<xs:attribute name="priority" type="xs:string"/>
											<xs:attribute name="mixweight" type="xs:float"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element> <!-- item -->
						</xs:sequence>
						<xs:attribute name="number" type="xs:integer"/>
						<xs:attribute name="name" type="xs:string"/>
					</xs:complexType>				
				</xs:element> <!-- preset -->
			</xs:sequence>
			<xs:attribute name="version" type="xs:string"/>
		</xs:complexType>
	</xs:element> <!-- jamoma -->
</xs:schema>
